{% extends 'base.html' %}

{% block title %}
    Home Page
{% endblock %}

{% block content %}
  <h1 class="display-4 font-weight-normal" style="color:white"> 
    This is a home page
  </h1>
<div class="row row-cols-1 row-cols-md-3 g-4" style="color: black">
  <div class="col">
    <div class="card h-100">
      <img src="https://wp.me/ac14yf-20b" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">Weather</h5>
        <p class="card-text">In this page, you can get Real Time weather updates.</p>
      <a href="#" class="btn btn-primary">Go to the Page</a>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated: Just Now</small>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
  </div>
</div>

{% endblock %}
